layout{
    focus-ring{
        active-gradient from="#e9b5eecc" to="#f5b8afcc" angle=135
        urgent-color "#ffb4ab"

        }
}
recent-windows {    
    highlight {
        active-color "#3d373d"
        urgent-color "#ffb4ab"
    }
}
